@import url("./helpers/color-helpers.css");
@import url("./helpers/flex-helpers.css");
@import url("./helpers/ul-helpers.css");
@import url("./helpers/border-helpers.css");
@import url("./product.css");
@import url("./nav.css");

img {
    padding-top: 10px;
}
.padding-left-20 {
    padding-left: 20px;
}
body {
  margin: 0;
  padding: 0;
}

.pointer {
    cursor: pointer;
}

.btn-add-cart {
    background-color: var(--bre-red);
    color: white;
    border-radius: 0px !important;
}
